{% extends "bootstrap_base.html" %}
    {% block title %}
    <title>Add a new question</title>
    {% endblock title%}
    {%block posts%}
        {% if p.user %}
        <div style="width:600px">
        <div style="width:600px"> 
            <h2><br><br>Ask a new question</h2>
            {% if not p.key %}
              <form action="/post" enctype="multipart/form-data" method="post" style="width: 600px;" >
            {% else %}
              <form action="/{{p.key().id()}}/post" enctype="multipart/form-data" method="post" style="width: 600px;" >
            {% endif %}
                <div style="width: 600px;"> 
                    <br><input type=text name="title" class="form-control" value="{{p.title}}" required autofocus placeholder="Title" style="width: 600px;"></input>
                    <br><textarea name="body" required autofocus rows="20" style="width: 600px;" placeholder="Please enter your question here" >{{p.body_str}}</textarea><br>
                    
                    Tags: (separated by space)
                    <br><input type=text name="tags" value="{{' '.join(p.tags)}}"  style="width: 600px;"></textarea><br>
                    
                    Upload Image:
                    <br><input type="file" name="img" class="form-control"/><br>
                    
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>
            </form>
       
          
            </div>
        </div>
        {% endif %}
    {%endblock posts%}
