{% extends "bootstrap_base.html" %}

    
    {% block title %}
    <title>View Question</title>
    {% endblock title%}
    {%block posts%}
                <div class="question-summary">
                <div class="statscontainer">
                	<div class="statsarrow"></div>
                	<div class="stats">
                    {% if p.user %}
                    <a href="/{{p.question.key().id()}}/vote?action=up" class="vote-up-off">
                    Up</a>
                    {% endif %}
                                        <div class="vote">
		                <div class="votes">
		                    <span class="vote-count-post "><strong> {{ p.question.questionvote }}</strong></span>
		                    <div class="viewcount">votes</div>
		                </div>
		            </div>   
                    {% if p.user %}
                    <a href="/{{p.question.key().id()}}/vote?action=down" class="vote-down-off">
                    Down</a>
                    {% endif %}
                </div>
                </div>
                <div class="summary"> 
                    <p>
                        <b>{{p.question.title}}</b><br>
                        {% autoescape true %} 
                        {{ p.question.render_text | safe }}                        
                        {% endautoescape %}
                    
                        {% if p.question.avatar %}
                        <br>
                        <img src="/img?img_id={{ p.question.key() }}" style="max-width:600px"></img>
                        {% endif %}
                        <br>
                        <div class="tags t-publications t-editors t-journal-workflow">
                        {% for tag in p.question.tags %}
                        <a href="/index?tag={{tag}}" class="post-tag">{{tag}}</a>
                        {% endfor %}                    
                        <br>
                        {% if p.question.is_editable %}
                        <a href="/{{p.question.key().id()}}/edit"><button type="button" class="btn btn-sm btn-primary">Edit</button></a>
                        {% endif %}
                        </div>
                    </p>
                    <div class="started fr">
            			<div class="user-info ">
		                    <div class="user-action-time">
                        asked at {{p.question.create_time.strftime('%I:%M %p, %b %d, %Y')}} <a href="/index?user={{p.question.user.nickname()}}"> {{p.question.user.nickname()}} </a>
                        {% if p.question.has_modified %}
                        Last modified at {{p.question.last_modified.strftime('%I:%M %p, %b %d, %Y')}}
                        {% endif %}
                    </div>
                    </div>
                    </div>                
                </div>
                </div>
                <hr>
        {% if p.viewanswer %}
		<div class="question-summary" style="border-bottom:0px"><b>Answer</b></div>
            {% for post in p.answers%}
                <div class="question-summary">
                 <div class="statscontainer">
                	<div class="statsarrow"></div>
                	<div class="stats">
                    {% if p.user %}
                    <a href="/{{p.question_id}}/{{post.key().id()}}/vote?action=up" class="vote-up-off">
                    <button class="btn btn-xs btn-info" style="width:40px">Up</button></a>
                    {% endif %}
                       <div class="vote">
		                <div class="votes">
		                    <span class="vote-count-post "><strong> {{ post.answervote }}</strong></span>
		                    <div class="viewcount">votes</div>
		                </div>
		            </div>      
                    {% if p.user %}
                    <a href="/{{p.question_id}}/{{post.key().id()}}/vote?action=down" class="vote-down-off">
                    Down</a>
                    {% endif %}
                </div>
                </div>
                <div class="summary"> 
                    <p>            
                        {% autoescape true %} 
                        {{ post.render_text | safe }}                        
                        {% endautoescape %} 
                        {% if post.avatar %}
                        <div style="max-width:500px">
                        <img src="/ansimg?img_id={{ post.key() }}"></img>
                        </div>
                        {% endif %}
                        

                        
                        <div class="tags t-publications t-editors t-journal-workflow">
                        {% if post.is_editable %}
                        <a href="/{{p.question_id}}/{{post.key().id()}}/edit"><button type="button" class="status answered">Edit</button></a>
                        {% endif %}
                        </div>
                    </p>
                    <div class="started fr">
            			<div class="user-info ">
		                    <div class="user-action-time">
                        answered at {{post.create_time.strftime('%I:%M %p, %b %d, %Y')}} <a href="/{{post.user.nickname()}}"> {{post.user.nickname()}} </a>
                        {% if post.has_modified %}
                        Last modified at {{post.last_modified.strftime('%I:%M %p, %b %d, %Y')}}
                        {% endif %}
                    </div>
                    </div>
                    </div>                 
                </div>  
                </div>
            {%endfor%}
        {% endif %}
    {% if p.user %}    
        <div class="question-summary" style="border-bottom:0px"><b>Your Answer</b></div>
        <div class="blog-post">
              <form action="/{{p.question_id}}/answerpost" role="form" method="post" style="padding: 15px;min-width: 250px;" >
                <div class="text-left" style="padding: 15px;max-width: 600px;"> 
                    <textarea name="body" style="width:600px" required rows="5" placeholder="Please enter your answer here"></textarea><br>
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>
            </form>
        </div>
    {% endif %}
    {%endblock posts%}
    {%block create%}
    {% if p.user %}
     	<div id="hmenus">               
                <div class="nav askquestion">
                    <ul>
                        <li>
                            <a href="/{{p.question_id}}/createanswer_image">Add answer</a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
 
    {%endblock%}

	{%block tags%}
    <h4>Related Tags</h4>
    <ol class="list-unstyled">
        {%if p.question.tags%}
            {%for tag in p.question.tags %}
                <a href="/index?tag={{tag}}" class="post-tag">{{ tag }}</a>
            {%endfor%}
        {%else %}
            <li>There are no tags yet.</li>
        {%endif%}
    </ol>
    {%endblock tags%}